<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--gray">
  <%= htmlWebpackPlugin.options.breadcrumbs %>
  <section class="section mb-70">
    <div class="container">
      <div class="page-intro">
        <picture class="page-intro__pic">
          <img src="./assets/images/page-intro-bg.jpg" alt="">
        </picture>
        <div class="page-intro__content">
          <h1 class="page-intro__title title title--light">Услуги бизнес-аналитики</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="section mb-40">
    <div class="container">
      <div class="columns">
        <div class="columns__col--7 columns__col-tab--12">
          <h2 class="title mb-20">Услуга аналитики. Наши решения</h2>
          <div class="subtitle">
            <p>Региональный ситуационно-аналитический центр (РСАЦ) филиала ПАО «Россети Центр» - «Белгородэнерго»</p>
          </div>
        </div>
        <div class="columns__col--12">
          <div class="tabs tabs-about" data-tabs-container="services">
            <div class="dropdown mbm-30" data-toggle>
              <button class="dropdown__button">
                <span>Выбрать услугу</span>
                <svg class="dropdown__icon">
                  <use xlink:href="./assets/sprite.svg#icon-arrow-empty"></use>
                </svg>
              </button>
              <div class="dropdown__list">
                <a href="./business-rsac.html" class="tabs__trigger tabs-about__trigger">
                  <span class="tabs-about__trigger-text">О РСАЦ</span>
                </a>
                <a href="./business-decision.html" class="tabs__trigger tabs-about__trigger active">
                  <span class="tabs-about__trigger-text">Наши решения</span>
                </a>
                <a href="./business-customer.html" class="tabs__trigger tabs-about__trigger">
                  <span class="tabs-about__trigger-text">Заказчики</span>
                </a>
                <a href="./business-contacts.html" class="tabs__trigger tabs-about__trigger">
                  <span class="tabs-about__trigger-text">Контакты</span>
                </a>
              </div>
            </div>
            <div class="tabs__controls tabs-about__controls mob-hidden">
              <a href="./business-rsac.html" class="tabs__trigger tabs-about__trigger">
                <span class="tabs-about__trigger-text">О РСАЦ</span>
              </a>
              <a href="./business-decision.html" class="tabs__trigger tabs-about__trigger active">
                <span class="tabs-about__trigger-text">Наши решения</span>
              </a>
              <a href="./business-customer.html" class="tabs__trigger tabs-about__trigger">
                <span class="tabs-about__trigger-text">Заказчики</span>
              </a>
              <a href="./business-contacts.html" class="tabs__trigger tabs-about__trigger">
                <span class="tabs-about__trigger-text">Контакты</span>
              </a>
            </div>
            <div class="tabs__list tabs__list--column">
              <div class="tabs__item active">
                <div class="editor editor--light mb-30 mbm-16">
                  <h3>Наши решения</h3>
                  <p>Для заказчиков Регионального ситуационно-аналитического центра разработаны более 1000 дашбордов
                    (аналитических панелей) по направлениям:</p>
                </div>
                <div class="columns mob-hidden mb-30">
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">Экономическое развитие</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">Здравоохранение</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">Образование</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">Строительство</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">ЖКХ</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">СМИ и социальные сети</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">Финансы</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">Общественный транспорт</p>
                      </div>
                    </article>
                  </div>
                  <div class="columns__col--2">
                    <article class="article-preview">
                      <div class="article-preview__wrapper">
                        <picture class="article-preview__picture">
                          <img src="./assets/images/logo-jkh.png" alt="">
                        </picture>
                        <p class="article-preview__text">Обращения граждан</p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="slider slider--auto desktop-hidden mb-30" data-slider data-loop>
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <article class="article-preview">
                          <div class="article-preview__wrapper">
                            <picture class="article-preview__picture">
                              <img src="./assets/images/logo-jkh.png" alt="">
                            </picture>
                            <p class="article-preview__text">Экономическое развитие</p>
                          </div>
                        </article>
                      </div>
                      <div class="swiper-slide">
                        <article class="article-preview">
                          <div class="article-preview__wrapper">
                            <picture class="article-preview__picture">
                              <img src="./assets/images/logo-jkh.png" alt="">
                            </picture>
                            <p class="article-preview__text">Экономическое развитие</p>
                          </div>
                        </article>
                      </div>
                      <div class="swiper-slide">
                        <article class="article-preview">
                          <div class="article-preview__wrapper">
                            <picture class="article-preview__picture">
                              <img src="./assets/images/logo-jkh.png" alt="">
                            </picture>
                            <p class="article-preview__text">Экономическое развитие</p>
                          </div>
                        </article>
                      </div>
                      <div class="swiper-slide">
                        <article class="article-preview">
                          <div class="article-preview__wrapper">
                            <picture class="article-preview__picture">
                              <img src="./assets/images/logo-jkh.png" alt="">
                            </picture>
                            <p class="article-preview__text">Экономическое развитие</p>
                          </div>
                        </article>
                      </div>
                      <div class="swiper-slide">
                        <article class="article-preview">
                          <div class="article-preview__wrapper">
                            <picture class="article-preview__picture">
                              <img src="./assets/images/logo-jkh.png" alt="">
                            </picture>
                            <p class="article-preview__text">Экономическое развитие</p>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="editor mb-100 mbm-80">
                  <p><i>Сроки разработки и формы представления аналитических материалов определяются индивидуально с
                    каждым заказчиком.</i></p>
                </div>
                <div class="slider slider--info" data-slider data-slider-slides-tab="1" data-loop>
                  <div class="slider-info">
                    <h3 class="slider-info__title">
                      Примеры выполненных работ:
                    </h3>
                    <p class="slider-info__slide-title" data-slider-title>Пункты приёма вторсырья на территории Белгородской
                      области.</p>
                    <div class="slider-info__footer">
                      <button class="button" data-fancybox data-src="#modalTechUniversalFIZ">Оформить заявку
                      </button>
                      <div class="slider-info__control">
                        <button class="slider__button slider__button--prev" data-slider-prev>
                          <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                          </svg>
                        </button>
                        <button class="slider__button slider__button--next" data-slider-next>
                          <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <picture class="picture" data-picture-info="Пункты приёма вторсырья на территории Белгородской области.">
                            <img src="./assets/images/preview-1.png" alt="">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture class="picture" data-picture-info="Сбор урожая сельскохозяйственных культур.">
                            <img src="./assets/images/preview-2.png" alt="">
                          </picture>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
