<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--gray">
  <%= htmlWebpackPlugin.options.breadcrumbs %>
  <section class="section section--bg pb-120">
    <div class="container">
      <div class="columns">
        <div class="columns__col--3 columns__col-mob--12">
          <h1 class="title mb-40">FAQ</h1>
        </div>
        <div class="columns__col--6 columns__col-mob--12">
          <div class="faq">
            <div class="faq__item">
              <div class="faq__header">
                <p class="faq__title">В какую сетевую организацию должны подаваться заявки?</p>
                <button class="faq__button"></button>
              </div>
              <div class="faq__content">
                <p>
                  Заявки на технологическое присоединение, увеличение ранее присоединенной мощности, изменение
                  категории надежности электроснабжения, изменение точки присоединения, изменение схемы внешнего
                  электроснабжения должны направляться в сетевую компанию, объекты электросетевого хозяйства которой
                  расположены на наименьшем расстоянии от границ участка заявителя. Если на расстоянии менее 300
                  метров от границ участка заявителя находятся объекты электросетевого хозяйства нескольких сетевых
                  организаций, заявитель вправе направить заявку в любую из них (за исключением заявителей, имеющих
                  намерение осуществить технологическое присоединение энергопринимающих устройств по индивидуальному
                  проекту).<br>
                  <br>
                  Иные заявки (на переоформление / подтверждение мощности и пр.) подаются в сетевые организации, к
                  объектам электросетевого хозяйства которых присоединены энергопринимающие устройства заявителей.<br>
                  <br>
                  Информация о принадлежности объекта электросетевого хозяйства той или иной сетевой организации
                  предоставляется в органах местного самоуправления в течение 15 дней с момента поступления
                  соответствующего запроса.
                </p>
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <p class="faq__title">Что понимается под мероприятиями по технологическому присоединению энергопринимающих устройств к электрическим сетям?</p>
                <button class="faq__button"></button>
              </div>
              <div class="faq__content">
                <p>
                  Заявки на технологическое присоединение, увеличение ранее присоединенной мощности, изменение
                  категории надежности электроснабжения, изменение точки присоединения, изменение схемы внешнего
                  электроснабжения должны направляться в сетевую компанию, объекты электросетевого хозяйства которой
                  расположены на наименьшем расстоянии от границ участка заявителя. Если на расстоянии менее 300
                  метров от границ участка заявителя находятся объекты электросетевого хозяйства нескольких сетевых
                  организаций, заявитель вправе направить заявку в любую из них (за исключением заявителей, имеющих
                  намерение осуществить технологическое присоединение энергопринимающих устройств по индивидуальному
                  проекту).<br>
                  <br>
                  Иные заявки (на переоформление / подтверждение мощности и пр.) подаются в сетевые организации, к
                  объектам электросетевого хозяйства которых присоединены энергопринимающие устройства заявителей.<br>
                  <br>
                  Информация о принадлежности объекта электросетевого хозяйства той или иной сетевой организации
                  предоставляется в органах местного самоуправления в течение 15 дней с момента поступления
                  соответствующего запроса.
                </p>
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <p class="faq__title">Каким образом осуществляется оплата технологического присоединения?</p>
                <button class="faq__button"></button>
              </div>
              <div class="faq__content">
                <p>
                  Заявки на технологическое присоединение, увеличение ранее присоединенной мощности, изменение
                  категории надежности электроснабжения, изменение точки присоединения, изменение схемы внешнего
                  электроснабжения должны направляться в сетевую компанию, объекты электросетевого хозяйства которой
                  расположены на наименьшем расстоянии от границ участка заявителя. Если на расстоянии менее 300
                  метров от границ участка заявителя находятся объекты электросетевого хозяйства нескольких сетевых
                  организаций, заявитель вправе направить заявку в любую из них (за исключением заявителей, имеющих
                  намерение осуществить технологическое присоединение энергопринимающих устройств по индивидуальному
                  проекту).<br>
                  <br>
                  Иные заявки (на переоформление / подтверждение мощности и пр.) подаются в сетевые организации, к
                  объектам электросетевого хозяйства которых присоединены энергопринимающие устройства заявителей.<br>
                  <br>
                  Информация о принадлежности объекта электросетевого хозяйства той или иной сетевой организации
                  предоставляется в органах местного самоуправления в течение 15 дней с момента поступления
                  соответствующего запроса.
                </p>
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <p class="faq__title">Как подать заявку на оказание услуги «ТП под ключ»?</p>
                <button class="faq__button"></button>
              </div>
              <div class="faq__content">
                <p>
                  Заявки на технологическое присоединение, увеличение ранее присоединенной мощности, изменение
                  категории надежности электроснабжения, изменение точки присоединения, изменение схемы внешнего
                  электроснабжения должны направляться в сетевую компанию, объекты электросетевого хозяйства которой
                  расположены на наименьшем расстоянии от границ участка заявителя. Если на расстоянии менее 300
                  метров от границ участка заявителя находятся объекты электросетевого хозяйства нескольких сетевых
                  организаций, заявитель вправе направить заявку в любую из них (за исключением заявителей, имеющих
                  намерение осуществить технологическое присоединение энергопринимающих устройств по индивидуальному
                  проекту).<br>
                  <br>
                  Иные заявки (на переоформление / подтверждение мощности и пр.) подаются в сетевые организации, к
                  объектам электросетевого хозяйства которых присоединены энергопринимающие устройства заявителей.<br>
                  <br>
                  Информация о принадлежности объекта электросетевого хозяйства той или иной сетевой организации
                  предоставляется в органах местного самоуправления в течение 15 дней с момента поступления
                  соответствующего запроса.
                </p>
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <p class="faq__title">Что требуется от меня для оказания услуги?</p>
                <button class="faq__button"></button>
              </div>
              <div class="faq__content">
                <p>
                  Заявки на технологическое присоединение, увеличение ранее присоединенной мощности, изменение
                  категории надежности электроснабжения, изменение точки присоединения, изменение схемы внешнего
                  электроснабжения должны направляться в сетевую компанию, объекты электросетевого хозяйства которой
                  расположены на наименьшем расстоянии от границ участка заявителя. Если на расстоянии менее 300
                  метров от границ участка заявителя находятся объекты электросетевого хозяйства нескольких сетевых
                  организаций, заявитель вправе направить заявку в любую из них (за исключением заявителей, имеющих
                  намерение осуществить технологическое присоединение энергопринимающих устройств по индивидуальному
                  проекту).<br>
                  <br>
                  Иные заявки (на переоформление / подтверждение мощности и пр.) подаются в сетевые организации, к
                  объектам электросетевого хозяйства которых присоединены энергопринимающие устройства заявителей.<br>
                  <br>
                  Информация о принадлежности объекта электросетевого хозяйства той или иной сетевой организации
                  предоставляется в органах местного самоуправления в течение 15 дней с момента поступления
                  соответствующего запроса.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
