.callback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(8) rem(14);
  gap: rem(17);
  color: $color-accent;
  font-size: rem(18);
  background-color: $color-dark;
  border-radius: 8px;
  transition: .2s linear;
  cursor: pointer;

  &:hover {
    background-color: #242432;
  }

  &__icon {
    svg {
      display: flex;
      width: rem(20);
      height: rem(20);
      fill: $color-accent;
    }
  }

  &__text {
  }
}
