.error-page {
  position: relative;
  margin: 0 auto;
  max-width: 778px;

  &__picture {
    @include r($mobile) {
      height: 380px;
    }
  }

  &__title {
    position: absolute;
    top: -10px;
    left: 50%;
    color: #2034E9;
    font-family: $font-accent;
    font-size: 270px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 16.2px;
    transform: translateX(-50%);

    @include r($mobile) {
      top: 10px;
      font-size: 110px;
    }
  }

  &__info {
    position: absolute;
    top: 55%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-light;
    text-align: center;
    transform: translate(-50%, -50%);
    @include r($mobile) {
      top: 58%;
      min-width: 230px;
    }
  }

  &__head {
    margin-bottom: 14px;
    font-family: $font-accent;
    font-size: 40px;
    font-weight: 500;
    @include r($mobile) {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 24px;
    line-height: 24px;
    white-space: nowrap;

    @include r($mobile) {
      font-size: 14px;
      white-space: initial;
    }
  }

  &__button {
    font-family: $font-accent;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    width: 100%;
    max-width: 192px;
    border-radius: 8px;
    background-color: #0A1DC9;
    cursor: pointer;
  }
}