.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-accent;
  color: #FFFFFF;
  font-family: $font-accent;
  z-index: 100;

  @include r($mobile) {
    position: fixed;
    width: 100%;
    z-index: 30;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    padding: rem(24) 0;
    border-bottom: 1px solid rgba($color-light, 0.15);

    @include r($mobile) {
      position: relative;
      padding: 14px 25px;
      gap: 30px;
    }
  }

  &__top-block {
    gap: rem(18);
  }

  &__top-left {
    gap: rem(10);
  }

  &__top-right {
    @include r($mobile) {
      gap: 10px;
    }
  }

  &__menu {
    display: none;
    @include r($mobile) {
      width: 100%;
    }
  }

  &__divider {
    display: block;
    width: 2px;
    height: rem(30);
    background-color: #454A5C;
    margin: 0 rem(20);
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(14);
    padding: rem(8) rem(14);
    color: $color-accent;
    font-size: rem(18);
    background-color: $color-dark;
    border-radius: 8px;
    transition: .2s linear;
    cursor: pointer;

    &:hover {
      background-color: #242432;
    }
  }

  &__login-icon {
    svg {
      display: flex;
      max-width: rem(17);
      max-height: rem(17);
      fill: $color-accent;
    }
  }

  &__bottom {
    padding: rem(21) 0;

    @include r($mobile) {
      position: relative;
      padding: 0;
    }
  }

  &__bottom-left {
    gap: rem(31);
    @include r($mobile) {
      width: 100%;
    }
  }

  &__menu-button {
    position: relative;
    @include r($mobile) {
      width: 100%;
      border-radius: 0;
    }

    &.active {
      &:before {
        content: '';
        position: absolute;
        top: calc(100% + 13px);
        left: 50%;
        display: block;
        width: rem(14);
        height: rem(14);
        background-color: #FFFFFF;
        transform: rotate(45deg) translateX(-50%);
        transition: .2s linear;
        @include r($mobile) {
          display: none;
        }
      }
    }

    svg {
      width: rem(16);
      height: rem(16);
    }

    #icon-step-1 {
      transform: rotate(180deg);
    }
  }

  &__menu-container {
    display: block;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    z-index: 10;
    width: 100vw;
    transition: left .4s ease-in-out, opacity .2s ease-in-out;

    &.active {
      opacity: 1;
      left: 0;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    height: rem(40);
  }

  &__search-button {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: rem(30);
    height: 100%;

    @include r($mobile) {
      padding-right: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 2px;
      height: 100%;
      background-color: #454A5C;
    }

    svg {
      max-width: rem(22);
      height: rem(20);
    }
  }

  &__search-form {
    margin-left: rem(15);
  }
}
