.hint {
  position: relative;
  display: flex;
  align-items: center;
  gap: rem(10);
  &:hover {
    [data-title]:after {
      opacity: 1;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #3A3D49;
  }

  &__icon {
    display: flex;
    width: rem(17);
    height: rem(17);

    svg {
      display: flex;
      width: 17px;
      height: 17px;
      fill: $color-blue;
    }
  }

  [data-title]:after {
    content: attr(data-title);
    position: absolute;
    opacity: 0;
    top: -85px;
    left: calc(100% - 10px);
    width: 410px;
    max-width: rem(410);
    font-size: rem(12);
    padding: rem(10) rem(22);
    background: #FFFFFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20), 0 0 32px rgba(0, 0, 0, 0.12), 0 32px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    transition: opacity .3s ease-in-out;

    @include r($mobile) {
      left: 0;
    }
  }
}
