.mobile-services {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  height: calc(100vh - 100%);
  background-color: $color-light;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: .2s linear;
  @include r($mobile) {
    display: block;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 4;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 14px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 22px;
    border-radius: 4px;
    background: #F6F6F6;
  }

  &__head {
    color: $color-dark;
    font-family: $font-accent;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;

    &--small {
      font-family: $font-main;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
    }
  }

  &__preview {
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(7.5px);

    .mobile-services__background {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
      z-index: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    border-radius: 8px;
    background-color: $color-light;
    z-index: 1;

    .editor {
      color: #60606E;
      font-family: $font-main;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &__text {
    color: #242432;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    height: calc(100% - 73px);
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    transition: .2s linear;
    background-color: $color-light;
    pointer-events: none;
    overflow-y: auto;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 1;

      .mobile-services__item {
        background-color: #2034E9;
      }

      .mobile-services__title {
        color: $color-light;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 14px;
    gap: 23px;
    border-radius: 8px;
    background-color: $color-light-gray;
  }

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
    fill: #0A1DC9;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: $color-accent;
    border-radius: 50px;

    svg {
      display: flex;
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: $color-dark;
  }

  &__list {
    margin-bottom: 24px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $color-dark;

    svg {
      display: flex;
      width: 12px;
      height: 12px;
    }
  }
}
