.nav {
  &__link {
    display: flex;
    padding: 6px 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $color-light;
    border-radius: 4px;
    background-color: transparent;

    &.active {
      font-weight: 500;
      background-color: rgba($color-light, 0.1);
    }
  }

  &--header {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
